# --- Скомпилированные файлы Python ---
**/__pycache__/
*.py[cod]
*$py.class

# --- Расширения C ---
*.so

# --- Виртуальные окружения ---
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# --- Дистрибутивы и пакеты ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Настройки IDE (PyCharm, VS Code) ---
.idea/
.vscode/
!.vscode/extensions.json
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Переменные окружения и секреты (НЕ КОММИТИТЬ!) ---
.env
.env.local
.venv
*.secrets

# --- Логи и базы данных ---
*.log
logs
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Node.js / Фронтенд ---
node_modules/
dist-ssr/
*.local

# --- Системные файлы ---
.DS_Store
